{% load static %}
  <div class="navbar navbar-expand-lg fixed-top nav-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'login' %}">
        <img src="{% static 'accounts/images/logo.png' %}" width="80" height="80" alt=""><span class="color-white">WIXANA</span>
      </a>
      <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list" style="color: #f8f8f8; font-size: 24px;"></i>
      </button>
      <div class="collapse navbar-collapse nav justify-content-center" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             

              <li class="nav-item flex-center">
                <a class="nav-link color-white font-bold font-size-20 center-icon-text" href="#"><span class="material-symbols-outlined">
                  storefront
                  </span>&nbsp;Shop</a>
              </li>

              <li class="nav-item flex-center">
                <a class="nav-link color-white font-bold font-size-20 center-icon-text" href="#"><span class="material-symbols-outlined">
                  rss_feed
                  </span>&nbsp;Blog</a>
              </li>
        </ul>

        <form class="d-flex font-bold flex-start-mobile">
            {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="center-icon-text color-white nav-link font-size-20 font-bold without-space-mobile"><i class="bi bi-person-fill"></i>&nbsp;{{user.username}}</a>
            {% else %}
                <a class="nav-link color-white font-bold font-size-20 without-space-mobile" href="{% url 'login' %}"><i class="bi bi-person-fill"></i>&nbsp;Login | Signup</a>
            {% endif %}

            <a href="#" class="color-white nav-link font-size-30 without-space-mobile"><span class="material-symbols-outlined font-size-30">
              shopping_bag
            </span></a>
        </form>

      </div>
      
    </div>
  </div>